*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(245, 222, 179, 0.548);
}

a{
    color: white;
}

li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

.hamburger__menu{
    display: none;
    cursor: pointer;
    animation:animate-pop 800ms 400ms backwards;
}

.bar{
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav__bar{ 
  background-color: transparent;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.nav__link{
    display: flex;
    
}

.nav__links{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all 300ms ease;
    position: relative;
    color: white;
    animation:animate-pop 800ms 200ms backwards;
}

.nav__links:after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: rgb(207, 195, 195);
    transition: all 300ms ease;
   
}
.nav__links:hover:after{
    left: 0;
    width: 100%;
}
.nav__links:hover{
    cursor: pointer;
    color: rgb(94, 92, 92);
}

@keyframes animate-pop{
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}


.icons{
    display: flex;
}

.icon{
    font-size: 19px;
    font-weight: bold;
    margin-left: 20px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    animation:animate-pop 800ms 200ms backwards;
}

nav{
    width: 100%;
    min-height: 90vh;
    /* padding: 10px; */
    background-image:  linear-gradient(
        rgba(90, 92, 93, 0.577),
        rgba(70, 70, 70, 0.646)
      ),url(./assets/wallpaper.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 60px;
      /* animation: fade-up 650ms 100ms backwards; */
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.header__heading{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: white;
    text-align: center;
    animation: fade-up 650ms 600ms backwards;
}

.header__desc{
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    animation: fade-up 650ms 700ms backwards;
}

.header__button{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color: rgb(233, 183, 91);
    margin-top: 20px;
    transition: all 300ms ease;
    animation: fade-up 650ms 800ms backwards;
}
.header__button:hover{
    background-color:rgba(233, 183, 91, 0.851);
    color: rgba(24, 23, 23, 0.948);
    cursor: pointer;
}

.about-us-section{
    width: 100%;
    max-width: 1100px;
    height: 350px;
    margin: 0 auto;
    padding: 20px;
    background-image:  linear-gradient(
        rgba(90, 92, 93, 0.577),
        rgba(70, 70, 70, 0.646)
      ),url(./assets/master.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
} 

.about__us{
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.about_us__heading{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(18, 16, 16);
    margin-left: 20px;
}

.about_us__desc{
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    color: #121010;
    margin-left: 40px;
}

.about_us__desc_img{
    width: 100%;
    max-width: 350px;
}

.about_us__button{
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color:white;
    background-color: rgb(2, 2, 17);
    margin-top: 10px;
    transition: all 300ms ease;
}

.about_us__button:hover{
    background-color: rgb(12, 1, 1);
    color: rgb(184, 178, 178);
    cursor: pointer;
}


.heading_design{
    font-size: 25px;
    font-weight: 550;
    font-style: italic;
    color: rgb(255, 183, 0);
    margin-bottom: 10px;
}

.designs__header{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(18, 16, 16);
    text-align: center;
    margin-top: 50px;
}

.designs__header2{
    font-size: 35px;
    font-weight: bolder;
    color: rgb(18, 16, 16);
    text-align: center;
    margin-top: 10px;
}

.desgin__desc{
    font-size: 20px;
    font-weight: 400;
    color: rgb(18, 16, 16);
    text-align: center;
    margin-top: 10px;
}


.designs{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin-top: 30px;
}

.design{
    margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 20px;
}

.design__img{
    width: 100%;
    max-width: 300px;
    height: 200px;
    transition: all 500ms ease;
}

.project__wrapper{
    position: relative;
}

.project__wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #050505;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 1;
}

.design:hover .project__wrapper:before{
    opacity: 0.7;
}


.design__img__head{
    font-size: 25px;
    font-weight: bolder;
    transition: all 300ms ease;
    text-align: center;
    color: rgb(255, 255, 255);
}

.design__img__desc{
    font-size: 15px;
    font-weight: bolder;
    transition: all 300ms ease;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.project__description{
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 3;
    opacity: 0;
}

.design:hover .design__img{
    transform: scale(0.97);
}

.design:hover .project__description
{
    opacity: 1;
    animation: fade-up 650ms 200ms backwards;

}
@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.highlight_img{
    background-image: url(./assets/bed2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
}

.highlight{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;  
    margin: 0 auto;
    background-color: #2b258f;
}

.highlight_section{
    margin-top: 30px;
    margin-bottom: 30px;
}

.highlight__desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width:50%;
    padding: 10px;
    margin-top: 20px;
}



.highlight__heading{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.highlight__description{
    font-size: 17px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
}

.highlight__btn{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(23, 22, 22);
    background-color: rgba(218, 165, 32, 0.816);
    margin-top: 10px;
    transition: all 300ms ease;
}

.highlight__btn:hover{
    background-color:rgba(218, 165, 32, 0.904) ;
    color:rgb(255, 254, 254);
    cursor: pointer;
}

/* reason  */


#reason{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.reason__heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.reason__heading2{
    font-size: 30px;
    font-weight: bold;
}

.reason__logo{
    width: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.reasons__parts{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    margin-top: 30px;
    margin-left: 20px;
}
.reasons__parts:first-child{
    margin-left: 0;
}

.reasons__head{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.reasons__description{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.reasons__section{
    display: flex;
}

/* clients */

#clients__section{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.clients__heading1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}
.clients__heading2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.client{
    width: 100%;
    max-width: 50%;
    border-radius: 10px;
    background-color: rgb(201, 171, 116);
    padding: 20px;
}

.client:last-child{
    margin-left: 20px;
}

.clients{
    display: flex;
    margin-top: 30px;
}

.client__review{
    font-size: 20px;
    font-style: italic
}

.client__name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.client__img{
    width: 100%;
    max-width: 70px;
    height: 70px;
    border-radius: 50%;
}

.client__info{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* footer  */



.footer__sec{
    background-image:  linear-gradient(
        rgba(90, 92, 93, 0.801),
        rgba(70, 70, 70, 0.835)
      ),url(./assets/footer.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    padding-bottom: 10px;
}

.heading__header{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    color: rgb(194, 166, 4);
    padding: 20px;
}

.heading__header__desc{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}


.footer__body{
    display: flex;
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    margin: 0 auto;
}

.footer__links1,
.footer__links2,
.footer__links3,
.footer__links4
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    text-align: center;
 }

.footer__links1 h2{
    color: rgb(229, 218, 218);
}
.footer__links2 h2{
    color: rgb(229, 218, 218);
    width: 100%;
}

h3{
    color: rgb(229, 218, 218);
}
 

.footer__link{
    padding-bottom: 30px;
    margin-right: 50px;
    margin-left: 20px;
}

.footer__left{
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-left: 30px;
    margin-top: 10px; 
}

.contact__number{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin-top: 20px;
}

.footer__socials{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 15px;
    color: white;
}

@media (max-width: 550px){
    .hamburger__menu{
        display: block;
        
    }
    .hamburger__menu.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger__menu.active .bar:nth-child(1){
        margin-top: 30px;
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger__menu.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
    .nav__link{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(175, 167, 167);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav__links{
        margin: 16px 0;
    }
    .nav__link.active{
        left: 0;
    }
    .header__heading{
        font-size: 30px;
    }
    .header__desc{
        font-size: 14px;
        width: 100%;
        max-width: 300px;
        text-align: center;
        margin-top: 20px;
    }
    nav{
        min-height: 60vh;
    }
    .reason__heading{
        font-size: 14px;
        margin-bottom: 5px;
        text-align: center;
    }
    .reason__heading2{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .reasons__description{
        display: none;
    }
    .reasons__section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }.reasons__head{
        font-size: 15px;
    }.reason__logo{
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        
    }.reasons__parts{
        max-width: 150px;
        margin-left: 10px;
        background-color: rgba(164, 162, 162, 0.418);
    }.reasons__parts:first-child{
        margin-left: 10px;
    }.about_us__heading{
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
    }.about_us__button{
        display: none;
    }.designs__header{
        font-size: 20px;
        font-weight: bolder;
    }
    .designs__header2{
        font-size: 25px;
    }
    .desgin__desc{
        font-size: 15px;
        font-weight: 400;
    }.design__img{
        width: 100%;
        max-width: 150px;
        height: 150px;
        margin: 0 auto;
    }.design{
        padding-left: 0px;
        padding-bottom: 10px;
    }.design__img__desc{
       display: none;
    }
    .project__description{
        top: 40px;
    }.highlight{
        flex-direction: column-reverse;
        align-items: center;
        background: wheat;
    }.highlight__heading{
        font-size: 25px;
        width: 300px;
        text-align: justify;
        color: rgb(15, 14, 14);
        
    }
    .highlight__description{
       display: none;
    }
    .highlight__btn{
        display: none;
    }.highlight_img{
        width: 100%;
        height: 250px;
    }
    .clients__heading2{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }.client{
        width: 100%;
        max-width: 350px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .client:last-child{
        margin: 0 auto;
    }
    .clients{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .client__review{
        font-size: 15px;
    }.heading__header__desc{
        font-size: 25px;
    }
    .footer__links1,
    .footer__links3,
    .footer__links4{
        display: none;
    }.footer__body{
        max-width: 600px;
        margin: 0 auto;
    }.footer__left{
        margin-bottom: 10px;
    }.heading__header{
        display: none;
    }.heading__header__desc{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 7px;
        padding: 20px;
        color: white;
        margin-top: 70px;

    }
    
    
}